{% extends "teacher/base.html" %}
{% load static %}
{% block content %}
{% load filters %}
    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">خانه</li>
            <li class="breadcrumb-item"><a href="#">مدیریت</a>
            </li>
            <li class="breadcrumb-item active">لیست سوالات</li>

        </ol>

        <div class="container-fluid">


            <table class="table table-hover table-outline m-b-0 hidden-sm-down">
                <thead class="thead-default">
                    <tr>
                        <th class="text-xs-center">شماره سوال</i>
                        </th>
                        <th class="text-xs-center">عنوان</th>
                        <th class="text-xs-center">تاریخ بارگذاری</th>
                        <th class="text-xs-center">تعداد حل</th>
                        <th class="text-xs-center" >عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in context%}
                    <tr>
                        <td class="text-xs-center">
                            <div class="avatar">
                                 <strong>{{ question.id}}</strong>
                            </div>
                        </td>
                        <td class="text-xs-center">
                            <div>{{ question.title }}</div>
                            <div class="small text-muted">
                            </div>
                        </td>
                        <td class="text-xs-center">
                             <strong>{{ question.created_date |to_jalali}}</strong>
                        </td>
                        <td class="text-xs-center" >
                                    <strong>{{ question.language }}</strong>
                        </td>
                        <td class="text-xs-center">
                            <button type="button" class="btn btn-outline-success">ویرایش</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <!--/.container-fluid-->
    </main>

{% endblock %}