   {% extends 'teacher/base.html'%}
   {% load static %}
   {% block content %}
   <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">خانه</li>
            <li class="breadcrumb-item"><a href="#">مدیریت</a>
            </li>
            <li class="breadcrumb-item active">لیست کاربران</li>

            <!-- Breadcrumb Menu-->
            <!-- <li class="breadcrumb-menu">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
                    <a class="btn btn-secondary" href="./"><i class="icon-graph"></i> &nbsp;داشبورد</a>
                    <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;تنظیمات</a>
                </div>
            </li> -->
        </ol>

        <div class="container-fluid">


            <table class="table table-hover table-outline m-b-0 hidden-sm-down">
                <thead class="thead-default">
                    <tr>
                        <th class="text-xs-center"><i class="icon-people"></i>
                        </th>
                        <th class="text-xs-center">دانشجو</th>
                        <th class="text-xs-center">شماره دانشجویی</th>
                        <th class="text-xs-center">کد ملی</th>
                        <th class="text-xs-center" >عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in context%}
                    <tr>
                        <td class="text-xs-center">
                            <div class="avatar">
                                <img src="{% static 'img/avatars/user.png' %}" class="img-avatar" alt="admin@bootstrapmaster.com" src="{% static 'img/avatars/user.png' %}">
                            </div>
                        </td>
                        <td class="text-xs-center">
                            <div>{{user.first_name}} {{user.last_name}}</div>
                            <div class="small text-muted">
                            </div>
                        </td>
                        <td class="text-xs-center">
                             <strong>{{user.username}}</strong>
                        </td>
                        <td class="text-xs-center" >
                                    <strong>{{user.nationalcode}}</strong>
                        </td>
                        <td class="text-xs-center">
                            <form method = "post" , action = "{% url 'user_detail' user.id %}">
                                {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary">جزئیات</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>

        </div>
        <!--/.container-fluid-->
    </main>
{% endblock %}

